<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{description}}">
<style>{{{styles}}}</style>
<link rel="canonical" href="https://au.si/{{key}}">
<link rel="icon" href="/images/profile-64.jpg" type="image/jpeg">
{{head}}
</head>
<body>
