{{> head}}
<div class="page">
	<div class="posts">
		{{#posts}}
			<article class="post h-entry">
				<header class="post-header">
					<h1 class="post-headline"><a href="/{{key}}" class="p-name">{{title}}</a></h1>
					<time class="post-date dt-published" datetime="{{date.iso}}">{{date.day}} {{date.month}} {{date.year}}</time>
				</header>
				<div class="p-summary">
					{{{intro}}}
				</div>
				{{#description}}
					<a class="u-url" href="/{{key}}">Read more...</a>
				{{/description}}
			</article>
		{{/posts}}
	</div>
	{{> profile}}
</div>
{{> foot}}
