<footer class="profile h-card">
	<a href="/" class="profile-image">
		<img class="u-photo" alt="Martin Auswöger"
			srcset="https://www.gravatar.com/avatar/ef0606c138d944e1a8089ff8eb1df71d?s=128 2x"
			src="https://www.gravatar.com/avatar/ef0606c138d944e1a8089ff8eb1df71d?s=64"
		>
	</a>
	<h3><a class="u-email p-name" href="mailto:martin@auswoeger.com" rel="me">Martin Auswöger</a></h3>
	<p>
		@<a class="p-nickname" href="/">ausi</a> on
		<a class="u-url" href="https://twitter.com/ausi" rel="me">Twitter</a>,
		<a class="u-url" href="https://github.com/ausi" rel="me">GitHub</a> and
		<a class="u-url" href="https://stackoverflow.com/users/1031606/ausi" rel="me">Stack Overflow</a>
	</p>
</footer>
